@font-face {
    font-family: hearts;
    src: url(Filxgirl.tff);
}

body{
    font-family: "Arial", Arial, Sans-serif;
}

.title{
    text-align: center;
    font-size: 50px;
    font-family: hearts;
}

.row {
    display: flex;
}

.column {
    flex: 50%;
}

#output{
    word-break: break-all;
}